- content_for :head do
  = stylesheet_link_tag 'plans/edit'
%section#edit
  %h1 Editing #{@account.login}'s plan.

  = form_for @account.plan, url: plan_path(@account.login) do |f|
    = label_tag :contents, 'Contents'
    = f.text_area :contents
    = f.submit 'Update plan!'
