!!! html
%html
  %head
    = title_tag
    = stylesheet_link_tag 'shared'
    = csrf_meta_tag
    = canonical_link_tag

    / begin yielded content
    = yield :head

  %body
    = render partial: 'layouts/application/header'
    = yield
