!!! html
%html
  %head
    = title_tag
    = stylesheet_link_tag 'shared'
    = csrf_meta_tag
    = canonical_link_tag

    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.2/jquery.min.js'
    = javascript_include_tag 'application'

    / begin yielded content
    = yield :head

  %body
    #container
      = render partial: 'layouts/application/header'
      = render partial: 'layouts/application/sidebar'
      %section#content= yield
