= form_for @account do |f|
  %p
    = label_tag :login, 'Plan name:'
    = f.text_field :login

  %p
    = label_tag :password, 'Password:'
    = f.password_field :password

  = f.submit 'Start a plan!'
